.section-title {
  text-align: center;
  color: #7e5837;
}

p {
  color: #7e5837;
font-size: 18px;
}

.transformationImg {
  width: 19%;
}

.ligne {
  border: 2px solid red;
  height: 4px;
}

.textpresentation1{
  display: flex;
}

.espacement {
  margin-top: 50px;
  margin-bottom: 50px;
}