.section-title {
    text-align: center;
    color: #7e5837;
}

p {
    color: #7e5837;
    font-size: 18px;
    text-align: justify;
}

.transformationImg {
    width: 19%;
}

.textpresentation1 {
    display: flex;
}

.espacement {
    margin-top: 50px;
    margin-bottom: 50px;
}

.ligne {
    border: 0;
    height: 4px;
    background-color: var(--secundary-color);
    margin: 15px 0;
}
