
.titre-programme {
  font-size: 2em;
  position: relative;
  color: #7e5837f1;
  text-align: center;
}

.suggestion {
  background-color: #7e5837;
  color: wheat;
  padding: 50px;
  position: relative;
  font-family: Arial, sans-serif;
  align-items: center;
}

.suggestion-guillemet {
  font-size: 15em;
  color: #182024;
  text-align: center;
}

.suggestion-texte {
  font-size: 1.25em;
  margin-bottom: 1em;
  text-align: center;
  margin-left: 20%;
  margin-right: 20%;
  color: #182024;
}

.suggestion-navigation {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.suggestion-nav-button-prev {
  color: #182024;
  font-size: 5em;
  background-color: transparent;
  cursor: pointer;
  border: none;
  background: none;
  margin-left: 3%;
}

.suggestion-nav-button-next {
  color: #182024;
  font-size: 5em;
  background-color: transparent;
  cursor: pointer;
  border: none;
  background: none;
  margin-right: 3%;
}

/* PROFIL TRANSFORMATION */

.profil-transformation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  margin-left: 120px;
  margin-right: 120px;
  margin-bottom: 50px;
}

.photo-container {
  flex: 1;
  text-align: center;
}

.trait {
  font-size: 50px;
}

.photo {
  width: 100%;
  height: auto;
  object-fit: cover;
  margin-bottom: 1em;
}

.legende {
  font-size: 1.25em;
  color: wheat;
  margin-bottom: 1em;
}

.profil-transformation p {
  font-size: 1.25em;
  color: wheat;
  margin-bottom: 1em;
}

.profil-transformation .trait {
  color: wheat;
  font-size: 1.25em;
  margin-bottom: 1em;
}

.profil-transformation .photo {
  width: 150px;
  height: 150px;
  margin-bottom: 1em;
}
