html,
main {
  height: 100%;
  margin: 0;
  overflow: hidden;
}

/* connexion */

.modal-content {
  margin: 10% auto;
  padding: 20px;
  border: none;
  width: 30%;
  max-height: 100%;
  overflow-y: auto;
}

.croix {
  color: #7e5837f1;
  float: right;
  font-size: 50px;
  cursor: pointer;
}

.croix:hover,
.croix:focus {
  color: wheat;
  text-decoration: none;
  cursor: pointer;
}

.modal-content h2 {
  color: #7e5837f1;
  padding: 20px;
  font-size: 3vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

.signUpForm {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 0 0 auto;
}

.modal-content input {
  padding: 10px;
  margin-bottom: 10px;
  border: 2px solid white;
}

.modal-content button {
  padding: 10px;
  background-color: #7e5837f1;
  color: #182024;
  border: 2px solid wheat;
  cursor: pointer;
  font-size: 1vw;
  margin: 0 18%;
}

.modal-content button:hover {
  background-color: wheat;
}

.modal-content p {
  margin-top: 20px;
  text-align: center;
  color: #7e5837f1;
  font-size: 1vw;
}

.modal-content p a {
  color: #7e5837f1;
}

/* se connecter */
