.profil {
  max-width: 100%;
  border-style: double;
  display: flex;
  flex-direction: column;
}

.titre-profil {
  margin: 2%;
  color: #7e5837f1;
  text-align: center;
  align-items: center;
  margin-left: 10%;
}

#profile-container {
  color: #7e5837f1;
  margin: 2%;
  display: flex;
  align-items: center;
}

#profile-image {
  border-radius: 50%;
  width: 15%;
  margin-left: 10%;
}

#profile-info {
  width: 100%;
  margin-left: 5%;
}

#profile-info span {
  display: inline-block;
  min-width: 100px; /* Ajout de cette propriété pour définir une largeur minimale */
  max-width: 300px; /* Ajout de cette propriété pour définir une largeur maximale */
  border: 1px;
  padding: 5px;
  margin-bottom: 5px;
}

#edit-button,
#save-button {
  align-self: flex-start;
  margin-right: 10%;
  background-color: transparent;
  color: #7e5837f1;
  border: none;
  padding: 10px 15px;
  border-radius: 10px;
  cursor: pointer;
}

#edit-button:hover,
#save-button:hover {
  background-color: gray;
}

.profil-hr {
  border: 0;
  height: 0.1vw;
  background-color: #ddd;
  margin: 2vw;
}

.information-programme {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 50px;
  padding: 0 15.7%;
}

.programme-encours {
  background-color: #7e5837f1;
  border: none;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 1.5);
}

.programme-image {
  width: 100%;
  display: block;
  height: auto;
}

.programme-titre {
  background-color: #7e5837f1;
  text-align: center;
  padding: 1vw;
}

.programme-titre button {
  cursor: pointer;
}

.programme-titre h3 {
  margin-top: 10px;
  font-size: 1.5vw;
}
.bouton-rejoindre {
  background-color: #182024;
  color: #7e5837f1;
  border: none;
  padding: 10px 20px;
  font-size: 1em;
  cursor: pointer;
  transition: background-color 0.3s;
  width: 100%;
  box-sizing: border-box;
  border-radius: 10px;
}

.bouton-rejoindre:hover {
  background-color: wheat;
}
