<header class="header">
  <div class="header-left">
    <img
      src="./assets/images/logo-bodystart.png"
      alt="logo-bodystart"
      class="logo-bs"
    />
  </div>

  <div class="header-center">
    <div class="logo-text">
      <a routerLink="">Bodystart</a>
    </div>
    <nav class="nav row">
      <ul>
        <li><a routerLink="" class="active">Accueil</a></li>
        <li><a routerLink="/about">Qui suis-je ?</a></li>
        <li><a routerLink="/program">Programmes</a></li>
        <li><a routerLink="/subscription">Abonnement</a></li>
        <!-- <li><a href="5.transformations.html">Transformations</a></li>
        <li><a href="6.vossuggestions.html">Vos suggestions</a></li>
        <li><a href="7.membres.html">Membres (coach)</a></li> -->
      </ul>
    </nav>
  </div>

  <div class="header-right">
    <button class="hamburger" aria-label="Open navigation menu">☰</button>
    <nav class="nav23">
      <div class="close-btn">✖</div>
      <ul>
        <li class="liststyle1"><a href="../index.html" class="active">Accueil</a></li>
        <li class="liststyle1"> <a href="2.quisuisje.html">Qui suis-je ?</a></li>
        <li class="liststyle1"> <a href="3.0.programme.html">Programmes</a></li>
        <li class="liststyle1"> <a href="4.abonnement.html">Abonnement</a></li>
      </ul>
    </nav>
  </div>
  <!-- <div class="header-right">
    <button id="boutonConnexion" class="connexion-btn">Connexion</button>
  </div> -->
</header>
