<section class=" text-center text-lg-start my-5">
  <div class="card mb-3">
    <div class="row g-0 d-flex align-items-center">
      <div class="col-lg-4 d-none d-lg-flex">
        <img src="https://mdbootstrap.com/img/new/ecommerce/vertical/004.jpg" alt="Trendy Pants and Shoes"
             class="w-100 rounded-t-5 rounded-tr-lg-0 rounded-bl-lg-5"/>
      </div>
      <div class="col-lg-8">
        <div class="card-body py-5 px-md-5">

          <form [formGroup]="formData" (ngSubmit)="login()">
            <div class="form-outline mb-4">
              <input type="email" formControlName="email" name="email" class="form-control"/>
              <label class="form-label">Email</label>
            </div>
            <div *ngIf="isSubmitted && formData.controls['email'].errors?.['required']" class="error-message">Champs
              obligatoire
            </div>
            <div *ngIf="isSubmitted && formData.controls['email'].errors?.['email']" class="error-message">Champs
              Veuillez fournir un email
            </div>

            <div class="form-outline mb-4">
              <input type="password" formControlName="password" name="password" class="form-control"/>
              <label class="form-label">Mot de passe</label>
            </div>
            <div *ngIf="isSubmitted && formData.controls['password'].errors?.['required']" class="error-message">Champs
              obligatoire
            </div>

            <div class="row mb-4">
              <div class="col">
                <a routerLink="/reset/request">Mot de passe oublié?</a>
              </div>
            </div>
            <div *ngIf="loginError" class="error-message text-white bg-danger mt-4 fw-bold">
              {{ loginError }}
            </div>

            <div class="d-flex justify-content-around">
              <button type="submit" class="btn btn-primary btn-block mb-4">Connexion</button>
              <asl-google-signin-button type='standard' size='large' *ngIf="!user"></asl-google-signin-button>
              <a class="btn btn-success btn-block mb-4" routerLink="/register">Inscription</a>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>
