<div class="container-fluid">
    <div class="card">
      <h2 class="text-dark">Profil</h2>
      <div>
        <img src="{{user.photoUrl}}" class="w-25 h-25" alt="Photo de profil">
        <div>
          <p class="text-dark">Nom : <span id="nom" >{{user.lastName}}</span></p>
          <p class="text-dark">Prénom : <span id="prenom" >{{user.firstName}}</span></p>
          <p class="text-dark">Email : <span id="email" >{{user.email}}</span></p>
          <p class="text-dark">Autre information : <span id="autre-info" ></span></p>
        </div>
        <button id="edit-button">Modifier <span>&#9881;</span></button>
      </div>
    </div>

  <hr class="profil-hr">

  <nav class="nav">
    <ul>
      <li><a href="8.1.profil.programme.html" >Programme(s)</a></li>
      <li><a href="8.2.profil.abonnement.html" >Abonnement</a></li>
      <li><a href="8.3.profil.paiement.html" class="active">Historique paiement</a></li>
      <li><a href="">Autre</a></li>
      <li><a href="">Autre</a></li>
    </ul>
  </nav>

  <hr class="profil-hr">
  </div>
