<main>
  <!-- <div class="titre-abonnement1">
    <h1>Votre abonnement</h1>
  </div> -->
  <div class="placement">
    <div class="pricing-card">
      <h2>Entraînement</h2>
      <h5>Programme sport</h5>
      <span class="price">€40.00</span>
      <h5>4 semaines</h5>
      <h3>Contenu</h3>
      <ul class="list-group">
        <li class="truc">- programme sportif</li>
        <li class="truc">- Conseils exercices</li>
        <li class="truc">- 1 truc</li>
        <li class="truc">- 1 truc</li>
        <li class="truc">- échange via whatapps</li>
      </ul>
      <button class="btn-primary">En savoir plus</button>
    </div>
    <div class="pricing-card">
      <span class="label-best">Best deal</span>
      <h2>Complet</h2>
      <h5>Programme sport + plan alimentaire</h5>
      <span class="price">€60.00</span>
      <h5>4 semaines</h5>
      <h3>Contenu</h3>
      <ul class="list-group">
        <li class="truc">- 1 Programme sportif</li>
        <li class="truc">- 1 Plan alimentaire</li>
        <li class="truc">- 1 Conseils nutrition</li>
        <li class="truc">- 1 Conseils exercices</li>
        <li class="truc">- échange via whatapps</li>
      </ul>
      <button class="btn-primary">En savoir plus</button>
    </div>
    <div class="pricing-card">
      <h2>Nutrition</h2>
      <h5>Plan alimentaire</h5>
      <span class="price">€30.00</span>
      <h5>4 semaines</h5>
      <h3>Contenu</h3>
      <ul class="list-group">
        <li class="truc">- 1 Plan alimentaire</li>
        <li class="truc">- Conseils nutrition</li>
        <li class="truc">- 1 truc</li>
        <li class="truc">- 1 truc</li>
        <li class="truc">- échange via whatapps</li>
      </ul>
      <button class="btn-primary">En savoir plus</button>
    </div>
  </div>
  <!-- <div class="blockprog">
    <div class="titre-abonnement">
      <h2>Formule tout</h2>
      <h2>compris</h2>
      <p>Comme son nom l'indique vous</p>
      <p>accès à tout</p>
    </div>
    <div class="abonnement">
      <div class="tag-prix">
        <span class="tout-compris">Tout compris</span>
        <span class="prix">50</span>
        <span class="symbole">€</span>
        <span class="par-mois">Tous les mois</span>
      </div>
      <p class="description">
        Vous avez accès à tous les programmes y compris a un programme
        personnalisé
      </p>
      <button class="bouton-selection">Sélectionner</button>
    </div>
  </div> -->
</main>
