.titre-abonnement1 {
  font-size: 2em;
  position: relative;
  color: #7e5837f1;
  text-align: center;
}

.placement {
  display: flex;
  flex-wrap: wrap;
  gap: 50px;
  justify-content: center;
  align-items: center;
  min-height: 50vh;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
  Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

h2,
h5 {
  color: var(--fifth-color);
  margin: 0;
}
h2 {
  font-size: 35px;
}
h5 {
  font-size: 20px;
}
h3 {
  color: var(--secundary-color);
  font-size: 20px;
}

.btn-primary {
  background: var(--secundary-color);
  color: var(--fifth-color);
  padding: 10px 30px;
  border-radius: 5px;
  text-decoration: none;
  transition: 0.5s;
  border: none;
  font-weight: 600;
  font-size: 18px;
  margin-top: 40px;
  cursor: pointer;
}
.btn-primary:hover {
  background-color: var(--fifth-color);
  color: var(--secundary-color);
}

.pricing-card {
  width: 350px;
  height: 435px;
  background-color: var(--seventh-color);
  border-radius: 5px;
  box-shadow: 0 0px 10px var(--secundary-color);
  margin: 20px;
  padding: 20px;
  transition: 0.5s;
  position: relative;
  overflow: hidden;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.pricing-card:hover {
  transform: scale(1.1);
  box-shadow: 0 0px 40px var(--secundary-color);
}

.label-best {
  background: var(--secundary-color);
  border-radius: 5px;
  position: absolute;
  top: 5px;
  right: 5px;
  padding: 10px;
  font-weight: 600;
}

.price {
  font-size: 30px;
  color: var(--fifth-color);
  margin-top: 20px;
}

.list-group {
  list-style:  none;
  padding: 0;
  margin: 0;
  color: var(--fifth-color);
}

@media (max-width: 550px) {
  .pricing-card {
    width: 330px;
  }
  .description h2 {
    text-align: center !important;
  }
}
