.titre-programme {
  font-size: 2em;
  position: relative;
  color: var(--secundary-color);
  text-align: center;
}

.suggestions-box {
  display: flex;
  flex-direction: column;
  max-width: 50%;
  margin: 0 auto;
  padding: 20px;
  background-color: var(--secundary-color);
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 1.5);
}

.suggestions-box p {
  display: flex;
  justify-content: center;
  font-size: 1.4em;
}

.suggestion-form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin: 0 auto;
  width: 75%;
  margin-bottom: 1%;
}

.suggestion-form textarea {
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  border: 1px solid var(--primary-color);
}

.suggestions-box button {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  width: 100%;
  background-color: var(--primary-color);
  color: var(--secundary-color);
  cursor: pointer;
  font-weight: bold;
  transition: all 0.3s ease;
  border-radius: 5px;
}

.suggestions-box button:hover {
  background-color: var(--third-color);
}

.suggestion-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 5%;
  padding: 1% 15.7%;
}

.suggestion {
  border: none;
  padding: 10px;
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--secundary-color);
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 1.5);
}

.suggestion .likes {
  color: var(--sixth-color);
  font-weight: bold;
  margin-right: 10px;
}

.suggestion button {
  background-color: var(--third-color);
  color: var(--fourth-color);
  border: 1px solid #ccc;
  cursor: pointer;
}
